
.addressbar-view {
  z-index: $above-addressbar - 1;
  padding: $header-padding $horizontal-padding $vertical-padding;
  background-color: $white;
  border-bottom: 1px solid $steel;

  .addressbar-location {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 46px;
    font-size: 21px;
    line-height: 23px;
    color: $dark-gray;
    text-align: center;
    background-color: $light-gray;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
  }

  .addressbar-cancel,
  .addressbar-favorite,
  .addressbar-menu {
    position: absolute;
    top: 4px;
    display: block;
    height: 34px;
    color: $medium-gray;
    text-align: center;
  }

  .addressbar-cancel,
  .addressbar-menu {
    right: $horizontal-padding;
  }

  .addressbar-favorite {
    left: $horizontal-padding;
    width: 36px;

    &:disabled {
      display: none;
    }

    i {
      font-size: 24px;
    }
  }

  .addressbar-cancel {
    display: none;
    width: 36px;

    i {
      font-size: 18px;
    }
  }

  .addressbar-menu {
    width: 46px;

    i {
      font-size: 16px;
    }
  }
}

@media(max-width: 374px) {
  .internal .addressbar-location {
    padding-left: 0;
  }

  .addressbar-location {
    text-align: left;
  }
}

.favorited .addressbar-view .addressbar-favorite {
  color: $abb-blue;
}

.addressbar-view.selected {
  .addressbar-location {
    padding: 0 34px 0 8px;
    color: $black;
    text-align: left;
    background-color: $white;
    border: 2px solid $system-blue;
  }

  .addressbar-cancel {
    display: block;
    color: $system-blue;
  }

  .addressbar-menu,
  .addressbar-favorite {
    display: none;
  }
}

.addressbar-view.disabled {
  .addressbar-location {
    color: $light-gray;
    background-color: $white;
    border: 1px solid $light-gray;

    -webkit-text-fill-color: $light-gray;
  }

  .addressbar-favorite {
    display: none;
  }
}

.ghostmode {
  .addressbar-view {
    background-color: $black;
    border-bottom-color: $dark-gray;

    .addressbar-location {
      color: $steel;
      background-color: $graphite;
    }
  }

  .addressbar-view.selected {
    .addressbar-location {
      border-color: $ghost-purple;
    }

    .addressbar-cancel {
      color: $ghost-purple;
    }
  }

  .addressbar-view.disabled {
    .addressbar-location {
      color: $dark-gray;
      border: 0;
      opacity: 0.5;
      -webkit-text-fill-color: $dark-gray;
    }
  }
}

.normalmode.menuopen .addressbar-menu {
  color: $dark-gray;
}

.ghostmode.menuopen .addressbar-menu {
  color: $light-gray;
}
