
.bookmarks-view {
  z-index: $above-addressbar;
  background-color: $white;

  .screen-header {
    padding: $header-padding $horizontal-padding $vertical-padding $horizontal-padding;
    font-size: 21px;
    line-height: 35px;
    color: $dark-gray;
    vertical-align: middle;
    border-bottom: 1px solid $steel;
  }

  .slip-reordering {
    background-color: $light-gray !important;
  }

  .screen-content {
    padding: $vertical-padding 0;
    box-sizing: border-box;
  }

  li {
    position: relative;
    height: 60px;
    padding: 0 0 0 $horizontal-padding;
    margin-bottom: $vertical-padding;
    overflow: hidden;
    color: $dark-gray;
    text-align: left;
    background-color: $white;
  }

  .item-thumb {
    position: relative;
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background-color: $steel;
  }

  .item-thumb:after {
    position: relative;
    top: 50%;
    display: block;
    font-size: 28px;
    color: $white;
    text-align: center;
    content: 'W';
    transform: translateY(-50%);
  }

  .item-title,
  .item-location {
    display: block;
    padding: 3px 0;
    margin-right: $horizontal-padding;
    margin-left: 75px;
    overflow: hidden;
  }

  .item-title {
    padding-top: $vertical-padding;
    font-size: 21px;
  }

  .item-location {
    font-size: 16px;
  }
}
