
.example-page {
  padding: 20px;
  font-family: 'San Francisco', -apple-system, sans-serif;

  header {
    padding: $header-padding;
    margin-bottom: 1em;
    background-color: $light-gray;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
  }

  p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 19px;
  }

  img {
    max-width: 100%;
    margin: 1em 0;
  }

  .example-page-content {
    margin-bottom: 54px;
  }
}
