
@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url('fonts/sanfranciscodisplay-ultralight-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  src: url('fonts/sanfranciscodisplay-thin-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('fonts/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url('fonts/sanfranciscodisplay-medium-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url('fonts/sanfranciscodisplay-semibold-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('fonts/sanfranciscodisplay-bold-webfont.woff');
}
