
.ghostmode-page {
  height: 90vh;
  max-width: 80vw;
  padding: 15px;
  margin: 0 auto;
  color: $ghost-purple;
  text-align: center;
  background-color: $black;

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  i {
    font-size: 86px;
    color: $ghost-purple;
  }

  h1 {
    padding: 25px 0 15px 0;
    font-size: 36px;
    font-weight: 300;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: $steel;
  }
}
