
html,
body {
  font-family: 'San Francisco', -apple-system, sans-serif;
  font-size: 12px;
  color: $black;
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus,
:active {
  outline: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type=text] {
  -webkit-user-select: auto;
}

strong {
  font-weight: bold;
}

button,
a {
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  text-align: left;
  background: transparent;
  border: 0;
  box-sizing: border-box;

  i {
    text-align: center;
  }
}

.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swipeing {
  .slip-list {
    overflow-x: hidden !important;
  }

  .slip-item {
    position: relative;
    overflow: visible !important;
  }

  .slip-item:after,
  .slip-item:before {
    position: absolute;
    top: 0;
    display: block;
    width: 200%;
    height: 100%;
    padding: 0 20px;
    font-size: 32px;
    line-height: 60px;
    color: $white;
    vertical-align: middle;
    background-color: $red;
    content: 'REMOVE';
  }

  .slip-item:before {
    right: 100%;
    text-align: right;
  }

  .slip-item:after {
    left: 100%;
    text-align: left;
  }
}
