
.history-view {
  z-index: $above-addressbar;
  background-color: $white;

  .screen-header {
    padding: $header-padding $horizontal-padding $vertical-padding $horizontal-padding;
    color: $dark-gray;

    i,
    span,
    button {
      height: 35px;
      font-size: 21px;
      line-height: 35px;
      vertical-align: middle;
    }
  }

  .slip-reordering {
    background-color: $light-gray !important;
  }

  .history-back {
    position: absolute;
    top: $header-padding;
    left: $horizontal-padding;
    display: block;

    i {
      color: $system-blue;
    }

    span {
      margin-left: 5px;
      color: $dark-gray;
    }
  }

  .history-delete {
    position: absolute;
    top: $header-padding;
    right: $horizontal-padding;
    display: block;
    color: $red;
  }

  .slip-list {
    margin-top: $header-padding;
    margin-left: $horizontal-padding;
  }

  .slip-item {
    position: relative;
    height: 60px;
    margin-bottom: $vertical-padding;
    margin-left: 0;
    color: $dark-gray;
    text-align: left;
    background-color: $white;
  }

  .history-date {
    padding: 0 $horizontal-padding;
    margin-bottom: $vertical-padding;
    font-size: 15px;
    line-height: 23px;
    background-color: $light-gray;
  }

  .item-thumb {
    position: relative;
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background-color: $steel;
  }

  .item-thumb:after {
    position: relative;
    top: 50%;
    display: block;
    font-size: 28px;
    color: $white;
    text-align: center;
    content: 'W';
    transform: translateY(-50%);
  }

  .item-title,
  .item-location {
    display: block;
    padding: 3px 0;
    margin-right: $horizontal-padding;
    margin-left: 75px;
    overflow: hidden;
  }

  .item-title {
    padding-top: $vertical-padding;
    font-size: 21px;
  }

  .item-location {
    font-size: 16px;
  }

  .item-favorite {
    position: absolute;
    top: $header-padding;
    right: $horizontal-padding;
    display: none;
    height: 21px;
    font-size: 21px;
  }

  .item-favorite.active {
    display: block;
    color: $abb-blue;
  }
}
