
@font-face {
  font-family: 'adblock-browser';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/adblock-browser.ttf?3syw62') format('truetype'),
  url('fonts/adblock-browser.woff?3syw62') format('woff'),
  url('fonts/adblock-browser.svg?3syw62#adblock-browser') format('svg');
}

i,
.icon- {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adblock-browser' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  text-transform: none;
  font-variant: normal;

  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon-ghost-tabs-filled:before {
  content: '\e900';
}

.icon-ghost-tabs:before {
  content: '\e901';
}

.icon-add:before {
  content: '\e902';
}

.icon-back:before {
  content: '\e903';
}

.icon-bookmark:before {
  content: '\e904';
}

.icon-bookmark-filled:before {
  content: '\e905';
}

.icon-check:before {
  content: '\e906';
}

.icon-checkbox:before {
  content: '\e907';
}

.icon-cross:before {
  content: '\e908';
}

.icon-dropdown:before {
  content: '\e909';
}

.icon-dropup:before {
  content: '\e90a';
}

.icon-favorite:before {
  content: '\e90b';
}

.icon-favorite-filled:before {
  content: '\e90c';
}

.icon-forward:before {
  content: '\e90d';
}

.icon-ghost:before {
  content: '\e90e';
}

.icon-ghost-filled:before {
  content: '\e90f';
}

.icon-history:before {
  content: '\e910';
}

.icon-lock:before {
  content: '\e911';
}

.icon-menu:before {
  content: '\e912';
}

.icon-refresh:before {
  content: '\e913';
}

.icon-settings:before {
  content: '\e914';
}

.icon-share:before {
  content: '\e915';
}

.icon-tabs:before {
  content: '\e916';
}

.icon-tabs-filled:before {
  content: '\e917';
}

.icon-stack {
  position: relative;
}

.icon-stack i {
  position: absolute;
}
