
.menu-view {
  top: $bar-height;
  z-index: $above-addressbar;
  height: auto;
  color: $steel;
  background-color: $graphite;
  overflow: visible;

  &.animating {
    z-index: $above-addressbar - 2;
  }

  .arrow-up {
    border-bottom: 10px solid #373c40;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    right: 23px;
    top: -9px;
    width: 0;
  }

  button {
    display: block;
    width: 100%;
    border-bottom: 1px solid $black;

    &:disabled {
      display: none;
    }

    i,
    span {
      display: block;
      float: left;
      height: 50px;
      min-width: 50px;
      line-height: 50px;
      color: $steel;
    }

    span {
      font-size: 21px;
      font-weight: 400;
    }

    i {
      font-size: 25px;
    }

    .icon-check {
      font-size: 12px;
      color: $abb-blue;
    }
  }
}

.whitelisted .menu-whitelist .icon-check {
  display: none;
}

.favorited .menu-favorite .icon-favorite-filled {
  color: $abb-blue;
}
