
%screen-block,
.screen-block {
  overflow: hidden;
  box-sizing: border-box;
}

%screen-block-fixed,
.screen-block-fixed {
  position: absolute;
  left: 0;
  width: 100%;

  @extend %screen-block;
}

%screen-bar,
.screen-bar {
  height: 50%;

  @extend %screen-block-fixed;
}

%screen,
.screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: $bar-height - 1 0;

  @extend %screen-block;
}

%screen-content,
.screen-content {
  position: relative;
  height: 100%;
  margin: 0 0 50px;
  overflow-x: hidden;
  overflow-y: auto;

  @extend %screen-block;
  -webkit-overflow-scrolling: touch;
}

%screen-header,
.screen-header {
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $white;

  @extend %screen-bar;
}

%screen-footer,
.screen-footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $white;

  @extend %screen-bar;
}

%animated-in,
.animated-in {
  display: none;

  &.animated {
    display: block;
  }
}
