
.normalmode-page {
  padding: $vertical-padding $horizontal-padding;
  font-family: 'San Francisco', -apple-system, sans-serif;
  background-color: $light-gray;

  a,
  a:visited,
  a:active,
  a:focus {
    display: block;
    float: left;
    width: 95px;
    min-height: 95px;
    margin-right: $horizontal-padding;
    overflow: hidden;
    font-size: 15px;
    line-height: 19px;
    color: $dark-gray;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    outline: 0;
  }

  .thumb {
    display: block;
    width: 95px;
    height: 95px;
    margin-bottom: 8px;
    background-position: center center;
    background-size: cover;
  }

  .thumb-1 {
    background-image: url('img/cat1.jpg');
  }

  .thumb-2 {
    background-image: url('img/cat2.jpg');
  }
}
