
.swipeing .tabs {
  .slip-item:after,
  .slip-item:before {
    line-height: 90px;
  }
}

.tabs {
  z-index: $above-content;
  background-color: transparent;

  .screen-content {
    padding: $vertical-padding $horizontal-padding;
    box-sizing: border-box;
  }

  li {
    position: relative;
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .tabs-create {
    background-color: $light-gray;
    border: 1px solid;

    .item-thumb:after {
      font-family: serif;
      font-size: 48px;
      color: $steel;
      content: '+';
    }
  }

  .item-thumb {
    position: relative;
    display: block;
    float: left;
    width: 105px;
    height: 68px;
    border: 1px solid;
    border-radius: 4px;
  }

  .item-thumb:after {
    position: relative;
    top: 50%;
    display: block;
    font-size: 28px;
    color: $white;
    text-align: center;
    content: 'W';
    transform: translateY(-50%);
  }

  .item-title,
  .item-location {
    display: block;
    margin: 10px 15px 0 14px;
    margin-left: 124px;
    overflow: hidden;
  }

  .item-title {
    font-size: 21px;
    line-height: 23px;
  }

  .item-location {
    font-size: 16px;
    line-height: 18px;
  }
}

.slip-list {
  .item-thumb {
    background-color: $steel;
    border: 0;
  }
}

.ghost-tabs-view .slip-list .item-thumb {
  background-color: $black;
}

.ghost-tabs-view .slip-list .item-thumb:after {
  color: $steel;
}

.normal-tabs-view {
  .screen-content {
    background-color: $light-gray;
    border-top: 1px solid $medium-gray;
  }

  .tabs-create {
    color: $black;
    border-color: $steel;
  }

  .item-thumb {
    border-color: $steel;
  }

  li {
    color: $dark-gray;
    background-color: $white;
  }
}

.ghost-tabs-view {
  .screen-content {
    background-color: $black;
    border-top-color: $dark-gray;
  }

  .tabs-create {
    color: $medium-gray;
    background-color: $black;
    border-color: $dark-gray;
  }

  .item-thumb {
    border-color: $dark-gray;
  }

  .tabs-create .item-thumb:after {
    color: $dark-gray;
  }

  li {
    color: $white;
    background-color: $graphite;
    border-color: $graphite;
  }

  .item-location {
    color: $medium-gray;
  }
}
