
.tapbar-view {
  z-index: $above-tabbar - 1;
  border-top: 1px solid $steel;

  button {
    position: relative;
    display: block;
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;

    i {
      font-size: 26px;
      line-height: 50px;
      color: $dark-gray;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -8px;
      margin-left: -13px;
      font-size: 9px;
      line-height: 22px;
      color: $dark-gray;
      text-align: center;
      vertical-align: middle;
    }

    &.tapbar-ghost span {
      margin-top: -7px;
      margin-left: -13px;
    }

    &:disabled i {
      color: $steel;
    }

    &.tapbar-favorites {
      position: relative;
    }

    &.tapbar-favorites i {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -13px;
    }

    &.tapbar-favorites .icon-favorite-filled {
      top: -2px;
      margin-left: -8.5px;
      font-size: 12px;
    }
  }
}

.normalmode.bookmarksview .tapbar-favorites .icon-favorite-filled {
  color: $white;
}

.ghostmode.bookmarksview .tapbar-favorites .icon-favorite-filled {
  color: $black;
}

.ghostmode {
  .tapbar-view {
    background-color: $black;
    border-top-color: $dark-gray;

    i {
      color: $steel;
    }

    span {
      color: $steel;
    }

    &:disabled i {
      color: $dark-gray;
    }
  }
}

.normalmode.bookmarksview .tapbar-favorites i,
.ghostmode.bookmarksview .tapbar-favorites i {
  color: $abb-blue;
}

.normalmode.browserview .tapbar-normal  i,
.normalmode.normaltabsview .tapbar-normal  i,
.normalmode.historyview .tapbar-normal  i {
  color: $red;
}

.normalmode.browserview .tapbar-normal  span,
.normalmode.normaltabsview .tapbar-normal  span,
.normalmode.historyview .tapbar-normal  span {
  color: $white;
}

.ghostmode.browserview .tapbar-ghost i,
.ghostmode.ghosttabsview .tapbar-ghost i,
.ghostmode.historyview .tapbar-ghost i {
  color: $ghost-purple;
}

.ghostmode.browserview .tapbar-ghost span,
.ghostmode.ghosttabsview .tapbar-ghost span,
.ghostmode.historyview .tapbar-ghost span {
  color: $black;
}
