
// Primary colors
$white: #ffffff;
$light-gray: #f4f3f1;
$steel: #c6c8ca;
$medium-gray: #abadaf;
$dark-gray: #5e5f61;
$graphite: #373c40;
$black: #222026;

// Secondary colors
$light-blue: #e5f1ff;
$medium-blue: #cce4ff;
$system-blue: #007aff;
$abb-blue: #089dcc;
$red: #e0192c;
$ghost-purple: #9682ff;
$canary: #ffff7f;

// Indexes
$above-dom: 1;
$above-content: 1000;
$above-addressbar: 2000;
$above-tabbar: 3000;
$above-all: 9000;

// Heights / Widths
$bar-height: 50px;
$header-padding: 5px;
$vertical-padding: 10px;
$horizontal-padding: 15px;
