<form id="addressbar" class="addressbar">
  <button id="addressbar-favorite" class="addressbar-favorite" type="button" disabled>
    <i class="icon-">favorite</i>
  </button>
  <input id="location" class="location" type="text" placeholder="Search or enter location..." autocomplete="off" />
  <button id="addressbar-cancel" class="addressbar-cancel" type="button">
    <i class="icon-">cross</i>
  </button>
  <button id="addressbar-options" class="addressbar-options" type="button">
    <i class="icon-">menu</i>
  </button>
</form>
