<li id="{{id}}" class="bookmark">
  <button class="bookmark-button">
    <span class="bookmark-thumb"></span>
    <span class="bookmark-title">{{title}}</span>
    <span class="bookmark-href">{{location}}</span>
  </button>
</li>
