<div id="bookmarks" class="bookmarks screen">
  <div class="bookmarks-header">
    Bookmarked Pages
  </div>
  <div class="bookmarks-container">
    <div class="bookmarks-content">
      <div class="container">
        <ul id="bookmarks-list"></ul>
      </div>
    </div>
  </div>
</div>
