<div class="{{id}} ghosthome page">
  <div class="container">
    <i class="icon-">ghost</i>
    <h1>Ghost Mode</h1>
    <p>After closing a Ghost mode tab, all browser history, search history, web forms, cookies and temporary Internet files will no longer be stored on your device.</p>
  </div>
</div>
