<li id="{{id}}" class="history-item" data-location="{{location}}">
  <button class="history-button">
    <div class="history-thumb"></div>
    <span class="history-title">{{title}}</span>
    <span class="history-url">{{location}}</span>
    <a class="history-bookmark">
      <i class="icon-">favorite_filled</i>
    </a>
  </button>
</li>
