<div id="history" class="history">
  <header>
    <button id="history-toggle" class="history-toggle" type="button">
      <i class="icon-">back</i>
      <span>Recent History</span>
    </button>
    <button id="history-delete" class="history-delete" type="button">
      Delete
    </button>
  </header>
  <div class="history-container">
    <div class="history-content">
      <div class="container">
        <ul id="history-list" class="history-list"></ul>
      </div>
    </div>
  </div>
</div>
