<div class="{{id}} dashboard page">
  <a href="page1.com">
    <div class="thumb thumb-1"></div>
    <span>Page 1</span>
  </a>
  <a href="page2.com">
    <div class="thumb thumb-2"></div>
    <span>Page 2</span>
  </a>
</div>
