<div id="options" class="options">
  <div class="arrow-up"></div>
  <ul>
    <li>
      <button id="options-refresh" class="options-refresh" type="button" disabled>
        <i class="icon-">refresh</i>
        <span>Refresh page</span>
      </button>
    </li>
    <li>
      <button id="options-adblock" class="options-adblock active" type="button" disabled>
        <span class="icon-stack">
          <i class="icon-">checkbox</i>
          <i class="icon- check">check</i>
        </span>
        <span>Ad blocking on this site</span>
      </button>
    </li>
    <li>
      <button id="options-bookmark" class="options-bookmark" type="button" disabled>
        <i class="bookmark icon-">favorite</i>
        <span>Bookmark page</span>
      </button>
    </li>
    <li>
      <button id="options-share" class="options-share" type="button" disabled>
        <i class="icon-">share</i>
        <span>Share page</span>
      </button>
    </li>
    <li>
      <button id="options-history" class="options-history" type="button">
        <i class="icon-">history</i>
        <span>View recent history</span>
      </button>
    </li>
    <li>
      <button id="options-settings" class="options-settings" type="button">
        <i class="icon-">settings</i>
        <span>Settings</span>
      </button>
    </li>
  </ul>
</div>
