<div id="pages" class="pages">
  <div class="normal-1 dashboard page active">
    <a href="page1.com">
      <div class="thumb thumb-1"></div>
      <span>Page 1</span>
    </a>
    <a href="page2.com">
      <div class="thumb thumb-2"></div>
      <span>Page 2</span>
    </a>
  </div>
  <div class="ghost-1 ghosthome page">
    <div class="container">
      <i class="icon-">ghost</i>
      <h1>Ghost Mode</h1>
      <p>After closing a Ghost mode tab, all browser history, search history, web forms, cookies and temporary Internet files will no longer be stored on your device.</p>
    </div>
  </div>
</div>
