<li id="{{id}}", class="tab">
  <button class="tab-button" type="button">
    <div class="tab-thumb"></div>
    <div class="tab-title">{{title}}</div>
    <div class="tab-url">{{location}}</div>
  </button>
</li>
