<div id="{{mode}}-tabs" class="{{mode}}-tabs tabs">
  <div class="tabs-container">
    <div class="tabs-content">
      <ul>
        <li>
          <button class="tabs-create" type="button">
            <div class="tab-thumb"></div>
            <div class="tab-title">Add New Tab</div>
            <div class="tab-url"></div>
          </button>
        </li>
      </ul>
      <ul class="tabs-list">
        <li id="{{mode}}-1", class="tab">
          <button class="tab-button" type="button">
            <div class="tab-thumb"></div>
            <div class="tab-title">New Tab</div>
            <div class="tab-url"></div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
