<div id="tapbar" class="tapbar">
  <ul>
    <li>
      <button id="tapbar-back" type="button" class="tapbar-back" disabled>
        <i class="icon-">back</i>
      </button>
    </li>
    <li>
      <button id="tapbar-forward" class="tapbar-forward" type="button"  disabled>
        <i class="icon-">forward</i>
      </button>
    </li>
    <li>
      <button id="tapbar-normal-tabs" class="tapbar-normal-tabs" type="button">
        <i class="icon-">tabs_filled</i>
        <span>1</span>
      </button>
    </li>
    <li>
      <button id="tapbar-ghost-tabs" class="tapbar-ghost-tabs" type="button">
        <i class="icon-">ghost</i>
        <span>1</span>
      </button>
    </li>
    <li>
      <button id="tapbar-bookmarks" class="tapbar-bookmarks" type="button">
        <i class="bookmark icon-">bookmark</i>
        <i class="star icon-">favorite_filled</i>
      </button>
    </li>
  </ul>
</div>
